[submodule "tensorforce"]
	path = tensorforce
	url = git@github.com:reinforceio/tensorforce.git
[submodule "gym"]
	path = gym
	url = https://github.com/openai/gym.git
[submodule "gym-pull"]
	path = gym-pull
	url = git@github.com:gaoyuankidult/gym-pull.git
[submodule "gym-pepper"]
	path = gym-pepper
	url = git@github.com:gaoyuankidult/gym-pepper.git
[submodule "face_recognition"]
	path = face_recognition
	url = git@github.com:ageitgey/face_recognition.git
[submodule "roboschool"]
	path = roboschool
	url = git@github.com:openai/roboschool.git
[submodule "openpose"]
	path = openpose
	url = https://github.com/CMU-Perceptual-Computing-Lab/openpose
[submodule "gym-unrealcv"]
	path = gym-unrealcv
	url = git@github.com:gaoyuankidult/gym-unrealcv.git
